$blue: #152084;
$white: #fff;

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.header {
    display: flex;
    align-items: center;
    background-color: $blue;
    .logo {
        width: 120px;
        height: 120px;
    }
    .title {
        color: $white;
    }
}