html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif; }

.header {
  background-color: #152084; }
  .header .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px 0; }
    .header .container .logo {
      width: 120px;
      height: 120px; }
    .header .container .title {
      color: #FFF;
      margin-left: 24px;
      font-size: 24px;
      font-weight: 700; }

.banner .container {
  max-width: 960px;
  margin: 0 auto; }
  .banner .container .title {
    margin-top: 120px;
    color: #152084;
    font-size: 64px;
    font-weight: 700; }
  .banner .container .subtitle {
    margin-top: 56px;
    color: #23242B;
    font-size: 24px;
    font-weight: 300; }
  .banner .container .request {
    margin-top: 48px;
    margin-bottom: 96px;
    padding: 16px 64px;
    color: #FFF;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    background-color: #CC0000;
    box-shadow: 0px 4px 20px rgba(21, 32, 132, 0.3);
    border: none;
    border-radius: 10px; }

.service .container {
  max-width: 960px;
  margin: 0 auto; }
  .service .container .title {
    text-align: center;
    color: #152084;
    font-size: 64px;
    font-weight: 700; }
  .service .container .description .title {
    color: #152084;
    font-size: 48px;
    font-weight: 700;
    text-align: center; }
  .service .container .description .content {
    text-indent: 56px;
    margin-top: 32px;
    color: #23242B;
    font-size: 24px;
    font-weight: 300; }
  .service .container .image img {
    width: 100%; }
  .service .container .recruitment, .service .container .outsourcing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px; }
    .service .container .recruitment .image, .service .container .outsourcing .image {
      flex: 0.82352941176; }
    .service .container .recruitment .description, .service .container .outsourcing .description {
      flex: 1; }
  .service .container .recruitment .image {
    margin-right: 72px; }
  .service .container .outsourcing .image {
    margin-left: 72px; }

.request {
  background-color: #152084; }
  .request .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
    background-color: #F6F8FB; }
    .request .container .title {
      color: #152084;
      font-size: 64px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 56px; }
    .request .container form {
      display: grid;
      grid-template-rows: 1fr;
      gap: 24px; }
      .request .container form .field-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px; }
      .request .container form .field-inline {
        display: flex;
        align-items: center; }
      .request .container form .agree-policy label {
        color: #23242B;
        font-size: 14px;
        font-weight: 300; }
        .request .container form .agree-policy label a {
          color: #152084; }
      .request .container form label {
        color: #23242B;
        font-size: 14px;
        font-weight: 500;
        line-height: 2em; }
      .request .container form input[type=text] {
        padding: 8px 16px;
        width: 100%;
        color: #23242B;
        font-size: 16px;
        font-weight: 300;
        border: 1px solid rgba(21, 32, 132, 0.2);
        border-radius: 10px;
        background-color: #fff; }
      .request .container form .request-button {
        padding: 16px 0;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        font-family: inherit;
        width: 100%;
        background-color: #CC0000;
        box-shadow: 0px 4px 20px rgba(21, 32, 132, 0.3);
        border-radius: 10px;
        text-align: center;
        border: none; }
        .request .container form .request-button .inactive {
          opacity: 0.4; }
    .request .container .privacy-policy {
      padding: 24px;
      border-radius: 10px;
      border: 1px solid rgba(21, 32, 132, 0.2);
      background-color: #fff; }
      .request .container .privacy-policy .title {
        color: #152084;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0; }
      .request .container .privacy-policy hr {
        background-color: #D0D2E6;
        height: 1px;
        border: none;
        margin: 16px 0 24px 0; }
      .request .container .privacy-policy .content {
        color: #23242B;
        font-size: 16px;
        font-weight: 300; }
